.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar {
  display: flex;
}

.nav-primary {
  display: flex;
  text-decoration: none;
}

.brand {
  color: #1371c8;
}

.nav-button {
  line-height: 0px;
}

.intro {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  padding-top: 100px;
  width: 75%;
}

.hero_copy h1 {
  font-weight: 500;
  line-height: 1.25;
  color: black;
  font-size: 48px;
}

.hero-form {
  font-size: 20px;
  padding-left: 75px;
  padding-top: 30px;
}

.hero-input {
  font-weight: 400;
  line-height: 46px;
}

.email-input {
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: 0;
  margin-right: 20px;
  width: 60%;
}

.filter-bar {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
